:root {
    --font-family: 'MaruBuri';
    --accent-color: #BFD4D9;
    --accent-color-dark: #A7C6D9;
    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    max-width: 30em;
}

.top, .bottom {
    width: 100%;
}

.start-task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-task__input {
    border: none;
    border-radius: none;
    border-bottom: 1px solid black;
    margin-right: .5em;
    font-family: var(--font-family);
    width: 90%;
}

button {
    border-radius: .5em;
    border: none;
    padding: .75em;
    background-color: var(--accent-color);
    color: black;
    transition: .1s;
    font-family: var(--font-family);
    width: max-content;
    white-space: nowrap;
}

button:hover {
    background-color: var(--accent-color-dark);
}

.ended-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: max-content;
}

/* .ended-list__item { */
/*     width: 100%; */
/*     display: grid; */
/*     grid-template-columns: 1fr 1fr 1fr 1fr; */
/*     grid-gap: 1em; */
/*     margin: .2em 0; */
/* } */

/* .ended-list__item:first-child { */
/*     margin: 0; */
/* } */

/* .ended-list__item:last-child { */
/*     margin: 0; */
/* } */

.ended-list__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.end-task {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 1em;
    justify-items: center;
    align-items: center;
}

@media (max-width: 30em) {
    .container {
        max-width: none;
    }
}
